.tasks {
    /* border: 1px solid black; */
    width: 50%;
    margin-top: 10px;
}
.task {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    align-items: center;
    background-color: purple;
    border-radius: 8px;
}
.check {
    font-size: 15px;
    background-color: purple;
    border: 0;
    cursor: pointer;
}
.text {
    border: 0;
}
.complete {
    text-decoration: line-through;
}
.button {
    display: flex;
    background-color: purple;
    border: 0;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 7px;
}